<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Titulo</key>
		<string>Santa Claus</string>
		<key>Cuerpo</key>
		<string>Este año Papa Noel tiene paperas. El día que tenga pa putas no le veremos el pelo. Felices fiestas y Próspero año 2014!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>069</string>
		<key>Cuerpo</key>
		<string>Movistar le desea Feliz Navidad y le regala una noche de sexo. Envíe un sms con la palabra SEXO al 069, ponga el móvil en modo vibración, métaselo por el culo y nosotros le iremos llamando. Feliz Año 2014!

</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>2014 como un buen mago</string>
		<key>Cuerpo</key>
		<string>Te deseo para el 2014 un buen mago que con una buena varita y muchos polvos mágicos te haga la vida muy feliz (y a mi tb!!! jajaja) ¡Feliz año!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Año estelar</string>
		<key>Cuerpo</key>
		<string>Festeja con champan y tu año sera genial. Con uvas y buen vino tu año sera divino. Pero si quieres un año estelar no te olvides de...</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Luciernagas</string>
		<key>Cuerpo</key>
		<string>He conseguido cruzar ladillas con luciérnagas. No sé la utilidad, pero ahora tengo los cojones como un árbol de navidad. ¡Feliz 2014!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Cepillo de dientes</string>
		<key>Cuerpo</key>
		<string>Te deseo para el 2014 lo mismo que a un cepillo de dientes: mucha pasta, un buen mango y que te cepillen tres veces al día. Feliz año!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Nestle</string>
		<key>Cuerpo</key>
		<string>Enhorabuena, ha sido seleccionado por Nestle para llevarse el peso de su pene en chocolate.. en breves recibirá su lacasito. Feliz Año!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La fidelidad</string>
		<key>Cuerpo</key>
		<string>La dirección del Club Lovely y todas sus chicas le agradecen la fidelidad mostrada como cliente y le desean un feliz 2014, y le recuerdan que los puntos almacenados durante 2013 caducan el próximo día 6. Te esperamos con todo caliente menos el champan. Feliz Navidad. Un abrazo.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Las vírgenes</string>
		<key>Cuerpo</key>
		<string>¿Sabías que las vírgenes pasan muchas Navidades, pero ninguna noche buena.? ¡Feliz navidad de todas maneras!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>DGT</string>
		<key>Cuerpo</key>
		<string>Datos DGT preocupantes,afirman q 23% d accidentes d tráfico son provocados x consumo d alcohol.Eso significa q l otro 77% d los accidentes son causados x los hijos d puta q beben agua,zumos,refrescos y otras mariconadas.Ojo con los abstemios!FELIZ 2014!&quot;;
</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Lo justo y lo correcto</string>
		<key>Cuerpo</key>
		<string>Nunca pienses que lo justo es lo correcto porque si te meten un dedo en el culo queda justo,pero no es lo correcto.Lo correcto ahora es desearte feliz navidad!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Consejo inversor para 2014</string>
		<key>Cuerpo</key>
		<string>Consejo Inversor para el año 2014.Tatúese 1Euro nl pene y disfrute d5 ventajas:1)Verá crecer su inversión.2)Disfrutará moviendo su dinero.3)No l importará q su mujer se coma sus ahorros.4)Solo usted decide como proteger su inversión.5)Solo ud. decide donde</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Paz, salud, amor...</string>
		<key>Cuerpo</key>
		<string>Paz, salud, amor... Bla, bla, bla. Basta de farsas! Fuera máscaras. Te deseo polvos, orgasmos, q curres la mitad, cobres el triple y mucha fiesta. ¡FELIZ NAVIDAD!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La policía ha encontrado...</string>
		<key>Cuerpo</key>
		<string>La policía ha encontrado en nochevieja el cuerpo carbonizado de un hombre sin cerebro y con una ***** pequeñísima. Te ruego me envíes un mensaje o confirmes que estás bien.Feliz año nuevo 2014.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La asociación de langostinos cocidos</string>
		<key>Cuerpo</key>
		<string>La A.L.C. (Asociación de Langostinos Cocidos) te recuerda que en estas fechas hay cosas más importantes que pelar… ¡Feliz 2013!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Un VOLVO</string>
		<key>Cuerpo</key>
		<string>Si la noche de Reyes ves que Melchor se desnuda y se mete en tu cama… explícale que lo que pediste fue un VOLVO.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Los reyes magos</string>
		<key>Cuerpo</key>
		<string>Los Reyes Magos también se han vuelto locos, se han follado al camello, a los pajes y a to el que lee este mensaje.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Un negro</string>
		<key>Cuerpo</key>
		<string>Amigo, no te lo vas a creer: Ayer tu novia, a media noche, descubrió a los Reyes Magos. ¡Fijo!, porque la oí gritar: “¡VENGA NEGRO, DÉJAMELO TODO AQUÍ DENTRO!. Felicidades de un amigo que te quiere.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Problemas con los reyes</string>
		<key>Cuerpo</key>
		<string>Baltasar ha sido pillado cruzando en patera el estrecho, Gaspar detenido en un control de alcoholemia de la Guardia Civil y Melchor está de luna de miel por su reciente boda gay con uno de sus pajes… Los tiempos cambian pero los deseos son siempre los mismos: FELIZ AÑO!</string>
	</dict>
</array>
</plist>
