<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Titulo</key>
		<string>El duque</string>
		<key>Cuerpo</key>
		<string>Este año te deseo que no te visiten ni Papá Nöel ni los Reyes Magos. ¿Un gordo y 3 viejos? Mejor la visita del Duque… ¡y el regalo es lo de menos!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Skin</string>
		<key>Cuerpo</key>
		<string>Queridos Reyes Magos: quiero cazadora militar, cadena metálica, puño americano, porra con extremo afilado, navaja, rottweiler y, si tiene huevos, q lo traiga Baltasar.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>El desastre de los recortes</string>
		<key>Cuerpo</key>
		<string>Por recorte de personal Melchor se ha ido al paro. Baltasar, con lo de Obama, en vez de a Belén quiere ir a la Casa Blanca. Gaspar dice q así no trabaja. ¡Qué desastre!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Fusión de los reyes</string>
		<key>Cuerpo</key>
		<string>Con la crisis se busca un solo rey mago tiene que ser negro de piel el pelo blanco y el bigote y la barba pelirrojos, si lo conoces, avísanos. Felices Fiestas.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Los camellos molan más</string>
		<key>Cuerpo</key>
		<string>Los Reyes Magos a mi casa ya no van por Navidad, pero vienen los camellos, que me molan mucho más.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Protesta</string>
		<key>Cuerpo</key>
		<string>Manifiéstate en contra de los Reyes Magos, no queremos más colonias, ni pijamas ni bufandas. Pásalo</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>El elegido</string>
		<key>Cuerpo</key>
		<string>Ayer vinieron los Reyes y me dejaron oro, un rollo que se llama incienso y una cosa muy rara que mi madre tiro por el water y decía: “¡ESTOS MARROQUIES…!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Los reyes se han portado bien</string>
		<key>Cuerpo</key>
		<string>Este año los Reyes se han portado como nunca, dicen que puedo seguir contando con tu amistad.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Leonor y los Reyes</string>
		<key>Cuerpo</key>
		<string>Los Reyes son los padres. (Firmado: la Princesa Leonor)</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Recalificaciones</string>
		<key>Cuerpo</key>
		<string>Detenido el alcalde de Belén por recalificar el portal. Los Reyes Magos están implicados. El niño nacerá en 1 chalet. ¡Año nuevo, recalificaciones nuevas!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Trabajar menos</string>
		<key>Cuerpo</key>
		<string>Quiero trabajar menos que los Reyes Magos, que sólo lo hacen una vez al año y es mentira.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Menos escrúpulos</string>
		<key>Cuerpo</key>
		<string>Tiene menos escrúpulos que una inspección fiscal a los Reyes Magos... sobre todo a Baltasar, que maneja mucho dinero negro.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Me han llamado los reyes..</string>
		<key>Cuerpo</key>
		<string>Llamaron de Oriente para pedir referencias tuyas, te aviso por si no llegas a recibir tu regalo esta navidad, pero a los Reyes no podia mentirles.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>De copas con los reyes</string>
		<key>Cuerpo</key>
		<string>Este año no esperes regalos. Estoy de copas con los Reyes Magos, y la cosa se nos ha ido de las manos…</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Lo más mágico del mundo</string>
		<key>Cuerpo</key>
		<string>Los tres Reyes Magos de Oriente se acercan… pero lo más mágico del universo eres tú.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Así es la vida</string>
		<key>Cuerpo</key>
		<string>Así es la vida: Primero uno cree que en los Reyes Magos, luego uno no cree en los reyes magos, y al final uno es Baltasar.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>El humor negro malayo</string>
		<key>Cuerpo</key>
		<string>Este año los Reyes Magos no van a llegar a tu ciudad ya que tenían contratados servicios con nuestra compañía. Disculpen ls molestias. Fdo: MALASIA AIRLINES</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Nueva ley</string>
		<key>Cuerpo</key>
		<string>Nuevo decreto ley firmado en la Casa Blanca: desde estas Navidades, Baltasar irá el primero en la fila. Firmado: Barack Obama.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string></string>
		<key>Cuerpo</key>
		<string></string>
	</dict>
</array>
</plist>
