<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Titulo</key>
		<string>He visto la Felicidad...</string>
		<key>Cuerpo</key>
		<string>He visto la FELICIDAD y me ha dicho que iba a tu casa. Le he pedido que llevase tambien a la SALUD y al AMOR. Tratalos bien, van de mi parte. Feliz Año 2015.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Que nunca os falte...</string>
		<key>Cuerpo</key>
		<string>Que nunca os falte un sueño por el que luchar, un proyecto que realizar, algo que aprender, un lugar donde ir y alguien a quien querer. ¡Feliz 2015!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La policía busca...</string>
		<key>Cuerpo</key>
		<string>La policía busca a una persona guapa, sexy, carismática e increíblemente buena en la cama. Tú, claro, estás a salvo, pero yo… ¿Dónde me escondo? ¡Feliz año nuevo 2015!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Te he pedido para reyes</string>
		<key>Cuerpo</key>
		<string>Si ésta noche te meten en un saco no temas!! Es que éste año te he pedido para reyes!! Feliz 2015</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Buena memoria </string>
		<key>Cuerpo</key>
		<string>&quot;Al hacer Dios el reparto de habilidades, me dio a elegir entre querer a mis amigos y tener buena memoria, así que Feliz Semana Santa y Feliz 1824</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Las mejores cosas nunca vienen solas</string>
		<key>Cuerpo</key>
		<string>Las mejores cosas de la vida nunca vienen solas y en estas Navidades lo confirmé. ¡Vienen contigo! ¡FELIZ NAVIDAD!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Estrella brillante</string>
		<key>Cuerpo</key>
		<string>Esta noche habrá una estrella que brillará más que las demás. En ella he puesto todos mis deseos para el 2015, haz que brille todo el año</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Un duende sonríe</string>
		<key>Cuerpo</key>
		<string>Cuando un sueño se cumple un duende sonríe. Que en 2015 tu duende sonría eternamente. Feliz Navidad y Feliz año.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>365 nuevas ilusiones</string>
		<key>Cuerpo</key>
		<string>Te he concedido 365 nuevas ilusiones. Feliz año nuevo!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>El espíritu de la navidad</string>
		<key>Cuerpo</key>
		<string>Si vagas por el mundo buscando el espíritu de la Navidad, no lo verás. La Navidad se ve con el corazón. ¡Felices fiestas!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Ponte la dentadura!</string>
		<key>Cuerpo</key>
		<string>¡Felisa me muero! ¿Qué dices? ¡FELISA ME MUERO! No hagas el tonto y ponte la dentadura. ¡FELIZ AÑO NUEVO!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>En el mercado</string>
		<key>Cuerpo</key>
		<string>En el mercado se puede comprar mazapán, turrón, pavo... pero no puedes comprar amistad, es una receta casera. Feliz Navidad!!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Que la navidad convierta..</string>
		<key>Cuerpo</key>
		<string>Que esta Navidad convierta cada deseo en flor, cada dolor en estrella, cada lágrima en sonrisa, cada corazón en dulce morada.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>En estas fiestas...</string>
		<key>Cuerpo</key>
		<string>Que en estas fiestas la magia sea tu mejor traje, tu sonrisa el mejor regalo, tus ojos el mejor destino y tu felicidad mi mejor deseo! FELIZ 2015</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Hoy te he ingresado...</string>
		<key>Cuerpo</key>
		<string>Hoy te he ingresado 365 días de buena suerte, alegría y felicidad en tu cuenta numero 2015. Disfrutalos!!!. FELIZ AÑO</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>El mejor regalo</string>
		<key>Cuerpo</key>
		<string>Tal vez el mejor adorno de navidad es una gran sonrisa, aqui tienes la mia</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Google!</string>
		<key>Cuerpo</key>
		<string>Que este nuevo año encuentres felicidad, salud, amor, dinero, paz y todo lo que necesites. Y lo que no encuentres búscalo en Google ;</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Feliz Semana Santa</string>
		<key>Cuerpo</key>
		<string>Feliz Semana Santa de parte de la Asociación del Alzheimer y nuestros mejores deseos para 1984.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La riqueza del ser humano</string>
		<key>Cuerpo</key>
		<string>Un sabio dijo: la riqueza de un humano se mide x la cantidad y calidad de los amigos q tiene. Gracias por ser parte de mi fortuna. Feliz Año 2015</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Wiwichu</string>
		<key>Cuerpo</key>
		<string>Me dejas que te toque el wiwichu? wiwichu a merry crismas wiwichu a merry crismas, wiwichu a merry crismas an a japy niu yir...FELIZ NAVIDAD!!!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Belén sin el burro</string>
		<key>Cuerpo</key>
		<string>Dónde estas? Te estamos buscando! Tienes q volver urgentemente, eres demasiado importante y además...sabes muy bien q no se puede hacer el belén sin el burro!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>¡Feliz año!</string>
		<key>Cuerpo</key>
		<string>Feliz Año! Espero q tu rutina se convierta en sorpresa, los enfados en sonrisas y las tristezas en esperanzas. Q tu bandera sea el amor y tu lenguaje los besos</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>¡Feliz Navidad!</string>
		<key>Cuerpo</key>
		<string>Con una gamba y un mejillón te regalo un besucón. Con un percebe y mi amistad una muy Feliz Navidad!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Primero en felicitarte</string>
		<key>Cuerpo</key>
		<string>Este año seguro que soy el primero en felicitarte el año nuevo: Feliz 2032!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>2014 veces mejor que el pasado</string>
		<key>Cuerpo</key>
		<string>Que el 2015 te traiga todo aquello que andas buscando y te sea 2014 veces mejor que el pasado. Feliz año nuevo!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Un puñado de tu amistad</string>
		<key>Cuerpo</key>
		<string>Un puñado de turrón bastará para la Navidad, pero un puñado de tu amistad me alimentaría de por vida.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La felicidad</string>
		<key>Cuerpo</key>
		<string>La felicidad es hacer lo que se desea y desear lo que se hace. No sueñes tu vida, vive tus sueños. ¡Feliz Año Nuevo!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Te deseo...</string>
		<key>Cuerpo</key>
		<string>Te deseo 65 dias de amor, 129 dias de suerte y 171 dias de felicidad! Feliz año 2015!!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>¿Cómo envuelvo una abrazo y un besote?</string>
		<key>Cuerpo</key>
		<string>n estas fechas quería mandarte algo gracioso...increíble... tierno... sexy...dulce y muy entretenido. Pero lo siento, yo no entro x la pantalla.FELIZ AÑO 2015</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Todo y nada</string>
		<key>Cuerpo</key>
		<string>Para el año ke viene te deseo dos cosas: TODO y NADA, todo lo que te puede hacer feliz y nada de lo ke te pueda hacer infeliz.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Que nunca os falte</string>
		<key>Cuerpo</key>
		<string>Q nunca os falte un sueño por el que luchar, un proyecto que realizar, algo que aprender, un lugar donde ir y alguien a quien querer. Feliz Navidad y Feliz 2015</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La felicidad</string>
		<key>Cuerpo</key>
		<string>Si tienes un sueño incumplido, tendrás una meta por alcanzar. La felicidad es la mezcla de sueños y realidades. Que el 2015 multiplique tu capacidad para soñar!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Si fuera estrella fugaz...</string>
		<key>Cuerpo</key>
		<string>Si fuera una estrella fugaz escribiría en lo alto del cielo ¡Feliz Navidad! porque es lo que te deseo, ¡unas felices fiestas y prosperidad!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>A los que...</string>
		<key>Cuerpo</key>
		<string>A los q comparten risas, a los q lloran, a los q tienen alguien a su lado, a los q no lo tienen, a los q veo a menudo, a los q echo de menos, ¡¡FELIZ NAVIDAD!!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La magia de la navidad</string>
		<key>Cuerpo</key>
		<string>La magia de la navidad es la magia de las personas como tú que haces que un año se pase volando, ¡Feliz Navidad!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Mastercard</string>
		<key>Cuerpo</key>
		<string>Una botella de cava: 30E. Un cotillón de nochevieja: 60E. Un vestido de fiesta: 120E. Que yo te felicite el año ¡no tiene precio! ¡¡¡FELIZ 2015!!!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Simulacro</string>
		<key>Cuerpo</key>
		<string>Aviso a toda la población: el simulacro de Paz y Amor ha finalizado. Guarden los langostinos, insulten a sus cuñados y disuélvanse.</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Abrazo a distancia</string>
		<key>Cuerpo</key>
		<string>Coloca tu mano derecha sobre tu hombro izquierdo y tu mano izquierda sobre tu hombro derecho. Acabas de recibir un abrazo a distancia. ¡Feliz Año Nuevo!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>El tiempo de amor</string>
		<key>Cuerpo</key>
		<string>Que tus segundos se llenen de magia, tus minutos de risa, tus horas de amor y en tu corazón crezcan: la paz, la esperanza y el perdón. Feliz Navidad!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Buena memoria</string>
		<key>Cuerpo</key>
		<string>Al nacer, Dios me dio a elegir entre estar bueniiiísima o tener buena memoria así que ¡¡¡FELICES FALLAS!!!!!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Persona especial</string>
		<key>Cuerpo</key>
		<string>A veces alguien llega a tu vida y sabes de inmediato que nació para estar allí. Por eso te echo de menos tanto esta Navidad...</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>La navidad...</string>
		<key>Cuerpo</key>
		<string>A veces alguien llega a tu vida y sabes de inmediato que nació para estar allí. Por eso te echo de menos tanto esta Navidad...</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Tanta suerte...</string>
		<key>Cuerpo</key>
		<string>Te deseo tanta suerte como gotas tiene la lluvia... tanto amor como rayos tiene el sol... y tanta felicidad como estrellas tiene el cielo. Feliz Navidad!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>2 dias..</string>
		<key>Cuerpo</key>
		<string>Hay 2 días al año sobre los que no puedes hacer nada: AYER Y MAÑANA: solamente hoy podrás perdonar, sonreir, soñar, amar, sentir...FELIZ NAVIDAD Y PRÓSPERO 2015</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Radares de la guardia civil</string>
		<key>Cuerpo</key>
		<string>Los amigos son como los radares de la guardia civil, aunque no los veas siempre estan ahi. Feliz 2015!</string>
	</dict>
	<dict>
		<key>Titulo</key>
		<string>Te deseo...</string>
		<key>Cuerpo</key>
		<string>Te deseo tanta suerte como gotas tiene la lluvia... tanto amor como rayos tiene el sol... y tanta felicidad como estrellas tiene el cielo. Feliz Navidad!</string>
	</dict>
	<string></string>
</array>
</plist>
